@import './src/scss/variables.scss';
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  @include for-phone-only {
    font-size: var(--html-font-size-sm);
  }
  @include for-tablet-portrait-up {
    font-size: var(--html-font-size-sm);
  }
  @include for-tablet-landscape-up {
    font-size: var(--html-font-size-md);
  }
  @include for-desktop-up {
    font-size: var(--html-font-size-lg);
  }
  @include for-big-desktop-up {
    font-size: var(--html-font-size-xlg);
  }
}

.component-wrapper {
  margin-top: var(--header-height);
}

// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   margin: 0 auto;
//   align-self: center;
//   @include for-all-phones{
//     max-width: 540px !important;
//   }
//   @include for-tablet-portrait-up{
//     width: 750px !important;
//   }
//   @include for-tablet-landscape-up {
//     width: 950px !important;
//   }
//   @include for-big-desktop-up {
//     width: 1200px !important;
//   }
// }

.bg-image-shadow {
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
