//* CSS Custom Properties *\\
:root {
  --top-header-height: 92px;
  --fixed-header-height: 52px;
  --header-height: calc(var(--top-header-height) + var(--fixed-header-height));
  --footer-height: 55px;
  --html-font-size-xlg: 14px;
  --html-font-size-lg: 14px;
  --html-font-size-md: 12px;
  --html-font-size-sm: 12px;

  --color-success: #4caf50;
  --color-danger: #f44336;

  --color-primary: #f44336;
  --color-primary-dark: #c62828;
  --color-light: #fafafa;
  --color-dark: #212121;
  --color-dark-rgb: 23, 23, 23;
  --color-darkest: #111111;
  --color-shadow-t: rgba(7, 7, 7, 0.65);

  --color-text: --color-dark;
  --color-secondary-text: #bcb5b9;
}

//* Media Queries *\\

//dw < 576px
@mixin media-xs {
  @media (max-width: 576px) {
    @content;
  }
}

//dw >= 576px
@mixin media-sm {
  @media (min-width: 576px) {
    @content;
  }
}

//dw >= 768px
@mixin media-md {
  @media (min-width: 768px) {
    @content;
  }
}

//dw >= 992px
@mixin media-lg {
  @media (min-width: 992px) {
    @content;
  }
}

//dw >= 1200px
@mixin media-xl {
  @media (min-width: 1200px) {
    @content;
  }
}

//dw >= 1600px
@mixin media-xxl {
  @media (min-width: 1600px) {
    @content;
  }
}
